<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HTM.HTMBitmapProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
      <root>
        <level value="DEBUG"/>
        <appender-ref ref="LogFileAppender"/>
      </root>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="logBITMAP.txt"/>
        <param name="AppendToFile" value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%date %level %message %newline"/>
        </layout>
      </appender>
    </log4net>
  <userSettings>
        <HTM.HTMBitmapProcessor.Properties.Settings>
              <setting name="dbLastReadTimeStamp" serializeAs="String">
                    <value />
              </setting>
        </HTM.HTMBitmapProcessor.Properties.Settings>
    </userSettings>

</configuration>