<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="HTM.UIHtmCal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="UIHtmCal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="HTM.UIHtmCal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="UIHtmCal.Properties.Settings.ContextLexikonConnectionString"
        connectionString="Data Source=DAVE\SQLEXPRESS;Initial Catalog=ContextLexikon;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="HTM.UIHtmCal.Properties.Settings.ContextLexikonConnectionString"
        connectionString="Data Source=DAVE\SQLEXPRESS;Initial Catalog=ContextLexikon;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <HTM.UIHtmCal.Properties.Settings>
            <setting name="ToolTipRegionCheck" serializeAs="String">
                <value>Enable this Region for input processing (Region is created fresh if parameters have changed since last on).</value>
            </setting>
            <setting name="ToolTipPerColText" serializeAs="String">
                <value>Percent of input bits within locality radius each Column has potential (proximal) synapses for.</value>
            </setting>
            <setting name="ToolTipLocalityRadText" serializeAs="String">
                <value>Furthest number of Columns away to allow distal synapse connections (0 means no restriction).</value>
            </setting>
            <setting name="ToolTipMinOverlapText" serializeAs="String">
                <value>Minimum percent of column's proximal synapses that must be active for the column to be considered by the spatial pooler.</value>
            </setting>
            <setting name="ToolTipDesireLocalText" serializeAs="String">
                <value>Approximate percent of Columns within locality radius to be winners after inhibition.</value>
            </setting>
            <setting name="ToolTipCellsPerColText" serializeAs="String">
                <value>Number of (temporal context) cells to use for each Column.</value>
            </setting>
            <setting name="ToolTipThresholdText" serializeAs="String">
                <value>Minimum number of active synapses to activate a segment.</value>
            </setting>
            <setting name="ToolTipNewSynapsesText" serializeAs="String">
                <value>Number of 'new' synapses to add to a segment if none activated during learning.</value>
            </setting>
            <setting name="ToolTipColXText" serializeAs="String">
                <value>Number of Columns in the X direction (width) in this Region.</value>
            </setting>
            <setting name="ToolTipColYText" serializeAs="String">
                <value>Number of Columns in the Y direction (height) in this Region.</value>
            </setting>
            <setting name="ToolTipInhiRadText" serializeAs="String">
                <value>Radius, in Columns, of how far inhibition will take effect per Column (most recent time step).</value>
            </setting>
            <setting name="ToolTipPredAccText" serializeAs="String">
                <value>Correctly predicted active columns out of total sequence-segment predicted columns (most recent time step).</value>
            </setting>
            <setting name="ToolTipActiveAccText" serializeAs="String">
                <value>Correctly predicated active columns out of total active columns (most recent time step).</value>
            </setting>
            <setting name="ToolTipRegionStatusText" serializeAs="String">
                <value>Current state of the Region.</value>
            </setting>
        </HTM.UIHtmCal.Properties.Settings>
        <UIHtmCal.Properties.Settings>
            <setting name="ToolTipRegionCheck" serializeAs="String">
                <value>Enable this Region for input processing (Region is created fresh if parameters have changed since last on).</value>
            </setting>
            <setting name="ToolTipPerColText" serializeAs="String">
                <value>Percent of input bits within locality radius each Column has potential (proximal) synapses for.</value>
            </setting>
            <setting name="ToolTipLocalityRadText" serializeAs="String">
                <value>Furthest number of Columns away to allow distal synapse connections (0 means no restriction).</value>
            </setting>
            <setting name="ToolTipMinOverlapText" serializeAs="String">
                <value>Minimum percent of column's proximal synapses that must be active for the column to be considered by the spatial pooler.</value>
            </setting>
            <setting name="ToolTipDesireLocalText" serializeAs="String">
                <value>Approximate percent of Columns within locality radius to be winners after inhibition.</value>
            </setting>
            <setting name="ToolTipCellsPerColText" serializeAs="String">
                <value>Number of (temporal context) cells to use for each Column.</value>
            </setting>
            <setting name="ToolTipThresholdText" serializeAs="String">
                <value>Minimum number of active synapses to activate a segment.</value>
            </setting>
            <setting name="ToolTipNewSynapsesText" serializeAs="String">
                <value>Number of 'new' synapses to add to a segment if none activated during learning.</value>
            </setting>
            <setting name="ToolTipColXText" serializeAs="String">
                <value>Number of Columns in the X direction (width) in this Region.</value>
            </setting>
            <setting name="ToolTipColYText" serializeAs="String">
                <value>Number of Columns in the Y direction (height) in this Region.</value>
            </setting>
            <setting name="ToolTipInhiRadText" serializeAs="String">
                <value>Radius, in Columns, of how far inhibition will take effect per Column (most recent time step).</value>
            </setting>
            <setting name="ToolTipPredAccText" serializeAs="String">
                <value>Correctly predicted active columns out of total sequence-segment predicted columns (most recent time step).</value>
            </setting>
            <setting name="ToolTipActiveAccText" serializeAs="String">
                <value>Correctly predicated active columns out of total active columns (most recent time step).</value>
            </setting>
            <setting name="ToolTipRegionStatusText" serializeAs="String">
                <value>Current state of the Region.</value>
            </setting>
        </UIHtmCal.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HTM.UIHtmCal.Properties.Settings>
            <setting name="MaxNumberHTMRegions" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListBoxSentence1" serializeAs="String">
                <value>Please Be A Fine Girl Kiss Me</value>
            </setting>
            <setting name="ListBoxSentence2" serializeAs="String">
                <value>Inside Crystal Mountain Evil Takes its Form</value>
            </setting>
            <setting name="ListBoxSentence3" serializeAs="String">
                <value>Our so called leaders speak with words they try to jail you</value>
            </setting>
            <setting name="ListBoxSentence4" serializeAs="String">
                <value>The power of now is the absence of longing</value>
            </setting>
            <setting name="SliderNoise" serializeAs="String">
                <value>sliderNoise</value>
            </setting>
            <setting name="SliderLetters" serializeAs="String">
                <value>sliderLetters</value>
            </setting>
            <setting name="ListBoxSentence5" serializeAs="String">
                <value>COZYLUMMOXGIVESSMARTSQUIDWHOASKSFORJOBPEN</value>
            </setting>
        </HTM.UIHtmCal.Properties.Settings>
    </userSettings>
</configuration>
